@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";

/* Utilidades */
@import "./utilidades/components.css";

/* Home */
@import "./home/introducao.css";

/* Bicicletas */
@import "./bicicletas/bicicletas-lista.css";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}

