.container{
  max-width: 120rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto ;
  margin-right: auto ;
}

.botao{
  display: inline-block;
  padding: 1.6rem 3.2rem;
  background: linear-gradient(#FFBF00, #F2A50C);
  border-radius: .4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.8rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.botao:hover{
  background: linear-gradient(#FFB60d, #e59317);
}

.botao.secundario{
  background: var(--cor-10);
  color: var(--cor-2);
}

.botao.secundario:hover{
  background: var(--cor-9);
}
.botao.seta{
  display: flex;
  align-items: center;
}
.botao.seta::after{
  content: "";
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-left: 12px;
  background:url("../../img/icones/arrow.svg");

}

@media(max-width:600px)
{
  .botao{
    padding: 1.2rem 1.6rem;
    font-size: 1.6rem;
  }
}

.link{
  display: inline-block;
  color: var(--cor-p1);
  font: 500 2.4rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 4px solid currentColor;
}
.link:hover{
  color: var(--cor-0);
}

/* Titulo interno */

.titulo-bg{
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--cor-11);
}

.titulo p{
  margin-bottom: .4rem;
}

@media(max-width: 800px){
  .titulo-bg{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .titulo p{
    font-size: 1.6rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}