.header-bg{
  background-color: var(--cor-12)
}
.header{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header-menu{
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;

}
.header-menu a{
  display: inline-block;
  padding: 1.6rem 0;
  position: relative;
}

.header-menu a::after{
  content:"" ;
  display: block;
  height: .2rem;
  width: 0%;
  background: var(--cor-0);
  margin-top: .4rem;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after{
  width: 100%;
}

@media (max-width:800px){
  .header-menu{
    gap: 2rem;
  }
  .header-menu a{
    background: var(--cor-11); 
    padding: 1.2rem 1.6rem;
    border-radius: .4rem;
   }
   .header-menu a:hover{
    background-color: var(--cor-10);
   }
   .header a::after{
    display: none;
   }
}
@media (max-width:600px){

  .header-menu{
    gap: 1.2rem;
  }
  .header-menu a{
    padding: .8rem 1.2rem;
    font-size: 1rem;
   }
}
